* {
	font-family: Comic Mono, Symbols Nerd Font Mono;
	font-size: 16px;
  background-color: #222436;
  border: transparent;
  color: #C0CAF5;
}

window#waybar {
	background: transparent; /*rgba(21, 22, 30, 0.9);*/
	border: transparent; /*2px solid #7DCFFF;*/
	border-radius: 40px;
}

#clock {
	padding: 5 5 0 5px;
	border: 2px solid #FF966C;
	border-radius: 40px;
}

#battery {
  color: #E0AF68;
	padding: 5 5 0 5px;
	border: 2px solid #FF966C;
	border-radius: 40px;
  margin-right: 10px;
}
#battery.plugged {
	color: #9ECE6A;
}
#battery.warning:not(.charging) {
	color: #F18E6F;
}
#battery.critical:not(.charging) {
	color: #F7768E;
}


#workspaces {
	border: 2px solid #FF966C;
	border-radius: 30px;
}

#pulseaudio {
	padding: 5 5 0 5px;
	border: 2px solid #FF966C;
	border-radius: 40px;
}

#pulseaudio.muted {
	background-color: #C25457;
	padding: 0 5 0 5px;
}

#custom-spider {
	padding: 0 15 0 15px;
	border: 2px solid #FF966C;
	border-radius: 40px;
  margin-left: 10px;
}
